@font-face {
    font-family: Utopia;
    src: url(./fonts/utopia.otf);
}
@font-face {
    font-family: Apercu_Mono;
    /*src: url(/fonts/apercu_mono_pro.otf);*/
    src: url(./fonts/apercu_mono_pro.otf);
}

body {
    font-family: Utopia, serif;
    font-size: 14pt;
    background-color: #f5f5f5;
}

h1 {
  font-size: 48px;
  color: #0a648a;
  font-family: "Apercu_Mono";
  letter-spacing: 5px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 40px;
}
